.information-card {
  height: 280px;
  width: 550px;
  padding: 25px;
  border-radius: 40px;
  background-color: white;
  color: black;
  text-align: left;
  font-size: 0.98em;
}

.information-card h3,
.information-card h4 {
  margin-left: 10px;
}

.description {
  margin-top: 15px;
  margin-left: 25px;
}
