.home {
  margin-top: 70px;
  background-color: #fb9b50;
  height: 320px;
  position: relative;
}

.home h1 {
  position: absolute;
  top: 140px;
  margin-left: auto;
  left: 0;
  right: 0;
  font-size: 2.1em;
}

.home .links {
  position: absolute;
  top: 179px;
  margin-left: auto;
  left: 0;
  right: 0;
}

.home .links img {
  height: 28px;
  padding: 10px;
}

.home .links img:hover {
  height: 33px;
  padding-top: 5px;
}

.float-icon {
  height: 60px;
  position: absolute;
  animation-name: float;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fl-icon0 {
  top: 10%;
  animation-duration: 25s;
}
.fl-icon1 {
  top: 70%;
  animation-duration: 50s;
}
.fl-icon2 {
  top: 70%;
  animation-duration: 31s;
}
.fl-icon3 {
  top: 15%;
  animation-duration: 36s;
}
.fl-icon4 {
  top: 30%;
  animation-duration: 40s;
}
.fl-icon5 {
  top: 80%;
  animation-duration: 42s;
}
.fl-icon6 {
  top: 2%;
  animation-duration: 45s;
}

@keyframes float {
  from {
    transform: translateX(-70vw);
  }
  to {
    transform: translateX(50vw);
  }
}
