.technical-skills {
  margin-top: 110px;
  position: relative;
  height: 410px;
}

.technical-skills h1 {
  color: #193a6f;
}

.tech-skill-list {
  width: 1000px;
  border: 5px solid #f98125;
  border-radius: 8px;
  background-color: white;
  padding: 15px;
  position: absolute;
  top: 175px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.2em;
  text-align: left;
  line-height: 1.8em;
  font-weight: bold;
}
