.experience-education {
  height: 800px;
  width: 1300px;
  position: relative;
  margin: auto;
  color: #193a6f;
}

.card-area {
  display: flex;
  justify-content: space-between;
}

.experience h1,
.education h1 {
  margin: 30px;
}
