.experience-education {
  height: 800px;
  width: 1300px;
  position: relative;
  margin: auto;
  color: #193a6f;
}

.card-area {
  display: flex;
  justify-content: space-between;
}

.experience h1,
.education h1 {
  margin: 30px;
}

/* Media Queries */
@media screen and (max-width: 1300px) {
  .experience-education {
    width: 900px;
    height: 1500px;
  }
  .card-area {
    display: grid;
  }
}

@media screen and (max-width: 420px) {
}
