@font-face {
  font-family: Quicksand;
  src: url("./assets/Quicksand-VariableFont_wght.ttf");
}

.App {
  text-align: center;
  font-family: Quicksand;
}

.App h1 {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}
