@font-face {
  font-family: Quicksand;
  src: url("./assets/Quicksand-VariableFont_wght.ttf");
}

.App {
  text-align: center;
  font-family: Quicksand;
  background-color: whitesmoke;
}

.App h1 {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.about,
.projects,
.experience,
.skills {
  padding-top: 70px;
}

/* Media Queries */
@media screen and (max-width: 1028px) {
  .App {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
}
